DATABASE_URL=postgres://finance_tracker:finance_tracker@localhost:54329/finance_tracker_dev
TEST_DATABASE_URL=postgres://finance_tracker:finance_tracker@localhost:54329/finance_tracker_test

WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_COOKIE_PASSWORD=
NEXT_PUBLIC_WORKOS_REDIRECT_URI=http://localhost:3004/api/auth/callback/workos
